<app-header></app-header>

<div class="maindash">
  <div class="metroblock buysblock left " routerLink="/dashboard/customer">
    <span class="icon fontawesome-briefcase left"></span>
    <h1>143</h1>
    <div class="clear"></div>
    <h2>New Orders</h2>
  </div>
  <div class="metroblock commentsblock left " routerLink="/dashboard/item">
    <span class="icon fontawesome-comments left"></span>
    <h1>65</h1>
    <div class="clear"></div>
    <h2>New Comments</h2>
  </div>
  <div class="metroblock buysblock left " routerLink="/dashboard/order">
    <span class="icon fontawesome-briefcase left"></span>
    <h1>143</h1>
    <div class="clear"></div>
    <h2>New Orders</h2>
  </div>


</div>
<router-outlet></router-outlet>
