<br>
<h1 id="heading1">Add Order</h1>
<br>
<div class="one">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Customer</label>
      <select id="inputState1"  class="form-control">
        <option></option>
        <option>...</option>
      </select>
    </div>

  </div>
  <div class="form-row">

    <div class="form-group col-md-4">
      <label for="inputState">Item</label>
      <select id="inputState" class="form-control" name="item"  >
        <option ></option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputCity">Qty</label>
      <input type="text" class="form-control" id="inputCity"name="qty">
    </div>

    <div class="form-group col-md-2">
      <label for="inputPrice">Price</label>
      <input type="text" class="form-control"  name="fff" id="inputPrice">
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" >Add to table</button>

  <br>
  <br>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Qty</th>
      <th scope="col">Price</th>
      <!--<th scope="col">Total</th>-->
    </tr>
    </thead>
    <tbody>
    <tr  >
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <h6 class="card-category" style="font-size: xx-large"></h6><button type="submit" class="btn btn-primary" >placeOrder</button>
</div>
