<div class="main">
  <div class="left">
    <h1>Login</h1>
    <p><i>To your Account</i></p>
    <!--<p class="or"><i>or</i></p>-->
    <form>
      <input type="text" placeholder="Username">
      <input type="password" placeholder="Password">
      <input type="submit" routerLink="/dashboard/middle" value="LOG IN">
    </form>
    <!--<p class="forgot">Forgot Password?</p>-->

  </div>
  <div class="right">
    <input id="loginsideImage" type="image" src="../../../assets/images.png" alt="Submit">
  </div>
</div>
