<br>
<h1 id="heading1">Item</h1>
<br>
<div class="main1">
  <div class="form-row">
    <div class="form-group col-md-6">

      <input class="form-control" placeholder="Item Name" name="cusname" id=#City required minlength="2">
    </div>
    <div class="form-group col-md-6">

      <input class="form-control" placeholder="Description" name="cusAddress" required minlength="2">
    </div>
    <div class="form-group col-md-6">

      <input class="form-control" placeholder="Price" name="cusAddress" required minlength="2">
    </div>
    <div class="form-group col-md-6">

      <input class="form-control" placeholder="QTY" name="cusAddress" brequired minlength="2">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <br>
  <br>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tbody>
  </table>
</div>
