<br>
<h1 id="heading1">Customer</h1>
<input type="image" id="cusIcon" src="../../../assets/icons8-customer-filled-100.png" alt="Submit">
<br>
<div class="main1">
  <div class="form-row">
    <div class="form-group col-md-5">

      <input class="form-control" placeholder="Name"  name="cusFname" [(ngModel)]="customerDTO.name" required minlength="2" >
      <br>
      <input class="form-control" placeholder="Address" name="cusAddress" [(ngModel)]="customerDTO.address" required minlength="2">
      <br>
      <input class="form-control" placeholder="Tel Nomber" name="cusTel" [(ngModel)]="customerDTO.mobile" required  minlength="2">
    </div>
  </div>
</div>
<button type="submit" *ngIf="!isEdit" id="btnSub" (click)="addCustomer()" class="btn btn-primary">Save</button>
<button type="submit" *ngIf="isEdit" id="btnUpdat" (click)="updateCustomer()" class="btn btn-primary">Update</button>
<button type="submit" *ngIf="isEdit" id="btnDelt" (click)="deleteCustomer(customerDTO.cid)" class="btn btn-primary">Delete</button>
<br>
<br>
<div class="tableDiv">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerList" (click)="loadCustomer(customer)">
      <td>{{customer.cid}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.mobile}}</td>
    </tr>
    </tbody>
  </table>
</div>
