<br>
<h1 id="heading1">Customer</h1>
<input type="image" id="cusIcon" src="../../../assets/icons8-customer-filled-100.png" alt="Submit">
<br>
<div class="main1">
  <div class="form-row">
    <div class="form-group col-md-5">

      <input class="form-control" placeholder="Customer First Name" name="cusname" id=#City required minlength="2">
      <br>
      <input class="form-control" placeholder="Customer Last Name" name="cusAddress" required minlength="2">
      <br>
      <input class="form-control" placeholder="Customer Address" name="cusAddress" required minlength="2">
      <br>
      <input class="form-control" placeholder="Customer Tel Nomber" name="cusAddress" brequired minlength="2">
    </div>
  </div>
</div>
<button type="submit" id="btnSub" class="btn btn-primary">Save</button>
<br>
<br>
<div class="tableDiv">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tbody>
  </table>
</div>
